<%-include('../partials/header.ejs')-%>

<%-include('../partials/navbar.ejs')-%>
<br>
<div class="container ">
    <div class="row mt-2">
        <div class="col-md-8 ">
            <h1 class="display-4">Add New Event:</h1>
            <hr>
            <% if (locals.errors) {%>
                <% errors.forEach((err)=> {%>
                    <div class="alert alert-danger">
                            <%= err.msg%>
                    </div>
                <%})%>
            <%}%>
            
              
            <form  action="/create" method="post">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="post">Job position</label>
                    <input type="text" name="post" id="post" class="form-control">
                </div>

                <div class="form-group">
                        <label for="description">Description</label>
                       <textarea name="description" rows="4" class="form-control"></textarea>
                    </div>

                    

                        <div class="form-group">
                                <label for="date">Date</label>
                                <input type="date" name="date" id="date" class="form-control">
                            </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-second"> Create</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<%-include('../partials/footer.ejs')-%>